.uber-button {
  background-color: black;
  color: white;
  border: none;
  height: 80px;
  width: 225px;
  font-size: 25px;
  cursor: pointer;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 80px;
  width: 400px;
  font-size: 30px;
  border-radius: 40px;
  cursor: pointer;
}

.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 80px;
  width: 225px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.get-started-button {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  height: 80px;
  width: 225px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;
}

.download-button {
  background-color: white;
  color: rgb(108, 117, 125);
  height: 80px;
  width: 225px;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.apply-button {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  height: 80px;
  width: 500px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px;
  margin-right: 25px;
  cursor: pointer;
}

.save-button {
  background-color: white;
  color: rgb(10, 102, 194);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  height: 80px;
  width: 175px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
}

.amazon-link {
  color: rgb(0, 113, 133);
  font-size: 30px;
}

.title {
  font-size: 46px;
  font-weight: bold;
}

.price {
  color: rgb(0, 118, 0);
  font-size: 25px;
  font-weight: bold;
}

.deliver-time {
  font-size: 32px;
}

.add-to-cart-button {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 80px;
  width: 225px;
  font-size: 20px;
  border-radius: 40px;
  margin-right: 25px;
  cursor: pointer;
}

.buy-now-button {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 80px;
  width: 225px;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
}