.instagram-card {
  font-family: Arial;
  font-size: 40px;
  margin-bottom: 30px;
}

.user-picture,
.user-info,
.user-follow {
  display: inline-block;
  vertical-align: middle;
}

.user-picture {
  margin-right: 35px;
}

.profile-picture {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 87px;
}

.user-info {
  width: 550px;
}

.username,
.name,
.category {
  margin-top: 0;
  margin-bottom: 0;
}

.username {
  font-weight: bold;
  margin-bottom: 20px;
}

.name,
.category {
  color: gray;
}

.name {
  margin-bottom: 20px;
}

.follow-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.video-preview {
  font-family: Roboto, Arial;
  margin-bottom: 20px;
}

.thumbnail-row,
.video-info {
  display: inline-block;
  vertical-align: top;
}

.thumbnail-row {
  margin-right: 18px;
}

.thumbnail {
  width: 500px;
}

.video-title,
.video-author,
.video-stats {
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-size: 40px;
  font-weight: 500;
  width: 540px;
  line-height: 56px;
  margin-bottom: 20px;
}

.video-author,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 34px;
  margin-bottom: 10px;
}

.facebook-profile {
  font-family: Arial;
  width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-right: 25px;
}

.facebook-profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.facebook-username,
.mutual-friends-row,
.add-friend-button {
  margin-left: 15px;
}

.facebook-username {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.mutual-friends-row {
  margin-top: 6px;
}

.mutual-friend-picture,
.mutual-friends {
  display: inline-block;
  vertical-align: middle;
}

.mutual-friend-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 6px;
}

.mutual-friends {
  color: rgb(100, 100, 100);
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}